*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
}
.main-content img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.img-text-about{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.404);
    height: 500px;
}
.img-text-about h1{
    font-size: 55px;
    margin-bottom: 15px;
}
.img-text-about h2{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
}
.img-text-about p{
    font-size: 20px;
}
.img-text-about-content{
    position: relative;
    width: 70%;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}
@media screen and (max-width:845px){
    .img-text-about-content{
        width: 90%;
    }
}
@media screen and (max-width:600px){
    .img-text-about h1{
        font-size: 50px;
    }
    .img-text-about h2{
        font-size: 30px;
    }
    .img-text-about p{
        font-size: 18px;
    }
    .img-text-about-content{
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (max-width:350px){
    .img-text-about h1{
        font-size: 14vw;
    }
    .img-text-about h2{
        font-size: 9vw;
    }
    .img-text-about p{
        font-size: 6vw;
    }
}

/*---Styles for who-we-are section in aboutus page---*/

.who-we-are-about{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    background-image: linear-gradient( 134.6deg,  rgba(201,37,107,1) 15.4%, rgba(116,16,124,1) 74.7% );
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: -4px;
}
.who-we-are-about-content{
    width: 45%;
}
.who-we-are-about-content h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.who-we-are-about-content p{
    font-size: 20px;
    margin-bottom: 12px;
    text-align: justify;
}
.who-we-are-about-img{
    width: 45%;
}
.who-we-are-about-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
}
.who-we-are-fade{
    content: "";
    height: 100%;
    width: 100%;
    position: relative;
    bottom: calc(100% + 4px);
    transition: 0.5s;
    border-radius: 5px;
}
.who-we-are-fade:hover{
    background-color: rgba(0, 0, 0, 0.322);
    transition: 0.5;
}
@media screen and (max-width:1000px){
    .who-we-are-about-content{
        width: 90%;
    }
    .who-we-are-about-content h1{
        text-align: center;
    }
    .who-we-are-about-img{
        width: 90%;
    }
    .who-we-are-about-img{
        height: 50%;
    }
}
@media screen and (max-width:650px){
    .who-we-are-about-content p{
        font-size: 18px;
    }
}

/*---Styles for why-choose-about section in aboutus page---*/

.why-choose-about{
    padding: 3%;
    background-color: rgba(56, 56, 56, 0.616);
}
.why-choose-about-underline{
    content: "";
    width: 30%;
    height: 2px;
    background-color: gold;
    margin-bottom: 25px;
    position: relative;
    left: 25%;
    transform: translateX(-50%);
}
.why-choose-about h1{
    font-size: 40px;
    margin-bottom: 5px;
}
.why-choose-about p{
    font-size: 18px;
    font-weight:300;
    margin-bottom: 15px;
}
.why-choose-about-more{
    color: white;
    font-size: 18px;
    padding: 6px 14px 6px 14px;
    border-radius: 20px;
    border:2px solid white;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}
.view-more-txt-about{
    display: none;
}
.why-choose-about-more:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
@media screen and (max-width:1000px){
    .why-choose-about h1{
        text-align: center;
    }
    .why-choose-about-underline{
        left: 50%;
    }
}
@media screen and (max-width:650px){
    .why-choose-about h1{
        font-size: 25px;
    }
    .why-choose-about p{
        font-size: 18px;
    }
}

/*---Styles for vission-mission-about section---*/

.vision-mission-about{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 3%;
}
.vision-mission-content{
    width: 45%;
}
.vision-mission-img{
    width: 45%;
}
.vision-mission-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.vision-mission-about h1{
    font-size: 45px;
    margin-bottom: 15px;
    font-family: oswald;
    text-align: center;
    color:rgb(255, 0, 0);
}
.vision-mission-btn-div{
    width: auto;
    position: relative;
    /* left: 50%;
    transform: translateX(-120px); */
    margin-bottom: 20px;
    vertical-align: middle;
}
.vision-mission-about-btn1{
    color: white;
    font-size: 18px;
    border: 2px solid red;
    background-color: red;
    border-radius: 8px;
    padding: 8px 25px 8px 25px;
    cursor: pointer;
    width: 120px;
}
.vision-mission-about-btn2{
    color: white;
    font-size: 18px;
    background-color: transparent;
    padding: 8px 25px 8px 25px;
    border: 2px solid white;
    border-radius: 8px;
    width: 120px;
    cursor: pointer;
}
.mission-txt-about{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 5px;
    display: none;
    line-height: 1.3;
}
.vision-txt-about{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 5px;
    line-height: 1.3;
}
@media screen and (max-width:1000px){
    .vision-mission-about{
        padding: 3% 0 3% 0;
    }
    .vision-mission-content{
        width: 90%;
    }
    .vision-mission-img{
        width: 90%;
    }
}

/*---Styles for company-about section in aboutus page---*/

.company-about{
    margin-bottom: -500px;
    position:relative;
}
.company-about img{
    width: 100%;
    height: 500px;
    object-fit:cover;
}
.company-about-fade{
    width: 100%;
    height: 500px;
    position: relative;
    bottom: 504px;
    background-color: rgba(0, 0, 0, 0.568);
}
.company-content-about{
    width: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.company-content-icon{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
}
.company-content-about img{
    width: 60px;
    height: 60px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.company-content-about h1{
    font-size: 40px;
    font-family: oswald;
    text-align: center;
}
.company-content-about span{
    color: rgb(255, 0, 0);
    font-size: 40px;
    font-family: oswald;
    text-align: center;
}
@media screen and (max-width:600px){
    .company-content-about{
        width: 90%;
    }
}
@media screen and (max-width:480px){
    .company-content-about h1{
        font-size: 35px;
    }
    .company-about span{
        font-size: 35px;
    }
}
@media screen and (max-width:350px){
    .company-content-about h1{
        font-size: 10vw;
    }
    .company-content-about span{
        font-size: 10vw;
    }
}

/*---Styles for achievements-about section---*/

.achievements-about{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding: 80px 0px 80px 0px;
    background-color: rgb(26, 26, 26);
}
.achievements-about-div{
    width: 23%;
}
.achievements-about-div img{
    width: 100px;
    margin-bottom: 45px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.achievements-about-div h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.achievements-about-div h2{
    font-size: 25px;
    text-align: center;
    font-weight: 100;
}
.achievements-about-txt{
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width:1000px){
    .achievements-about-div{
        width: 46%;
    }
    .achievements-about-div img{
        margin-top: 40px;
    }
}
@media screen and (max-width:500px){
    .achievements-about-div{
        width: 92%;
    }
    .achievements-about-div img{
        margin-top: 60px;
    }
}

/*---Styles for technologies-about section---*/

.technologies-about{
    display: flex;
    flex-flow: wrap;
    margin-top: 5%;
    justify-content:space-between;
}
.technologies-about-txt{
    width: 30%;
}
.technologies-about-txt h1{
    margin-left: 15%;
    font-family: oswald;
    color: red;
    font-size: 50px;
}
.technologies-about-box{
    width: 50%;
    display: flex;
    flex-flow: wrap;
    gap: 1.5rem;
}
.technologies-about-box img{
    width: 80px;
    height: 80px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.tech-box{
    width: 20%;
    height: 120px;
    content: "";
    background-color: rgba(31, 31, 31, 0.562);
    margin-bottom: 10px;
    border-radius: 5px;
}
@media screen and (max-width:1280px){
    .technologies-about-box{
        width: 60%;
    }
}
@media screen and (max-width:1000px){
    .technologies-about-txt{
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .technologies-about-txt h1{
        margin: 0;
        text-align: center;
        font-size: 2rem;
    }
    .technologies-about-box{
        width: 100%;
        position: relative;
        justify-content: center;
        margin-top: 30px;
    }
    .tech-box{
        width: 20%;
    }
}
@media screen and (max-width:750px){
    .tech-box{
        width: 30%;
    }
    .technologies-about-box{
        gap: 1rem;
    }
    .technologies-about-txt h1{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:550px){
    .tech-box{
        width: 45%;
    }
}

/*---Styles for Team section in aboutus page---*/

.team-about h1{
    font-family: oswald;
    font-size: 40px;
    color: red;
    text-align: center;
    margin-top: 30px;
}
.team-about-underline{
    content: "";
    width: 10%;
    height: 2px;
    background-color: red;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.team-about-container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.team-about-card{
    height: auto;
    width: 23%;
    backdrop-filter: blur(100px);
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 80px;
}
.team-about-card-content{
    padding: 20px;
    background-color: rgba(43, 43, 43, 0.452);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.team-about-card-background{
    height: 40%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.team-about-card1 > .team-about-card-background{
    background-image: url("Images/About Us/Our Team/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.team-about-card2 > .team-about-card-background{
    background-image: url("Images/About Us/Our Team/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.team-about-card3 > .team-about-card-background{
    background-image: url("Images/About Us/Our Team/background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.team-about-card4 > .team-about-card-background{
    background-image: url("Images/About Us/Our Team/background4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.team-about-profile-ring{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
    padding: 5px;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.team-profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.team-background{
    width: 100%;
    height: 40%;
    border-radius: 0%;
}
.team-about-card h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 40px;
    color: gold;
}
.team-about-card h3{
    font-size: 18px;
    font-family:monospace;
    color: blueviolet;
    text-align: center;
    margin-bottom: 5px;
}
.team-about-card p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: lighter;
}
.team-about-card-underline{
    content: "";
    width: 90%;
    height: 2px;
    background-color: rgb(63, 63, 63);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.team-about-social{
    width: max-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}
.team-about-social i{
    letter-spacing: 15px;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.team-about-social i:hover{
    color: red;
    transition: 0.5s;
}
.team-about-card-btn{
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: rgb(0, 110, 255);
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width:1000px){
    .team-about-card{
        width:46%;
        margin-bottom: 7vh;
    }
}
@media screen and (max-width:600px){
    .team-about-card{
        margin-bottom: 8vh;
    }
}
@media screen and (max-width:500px){
    .team-about-card{
        width: 90%;
        margin-bottom: 90px;
    }
}

@media screen and (max-width:300px){
    .team-about-card{
        margin-bottom: 15vh;
    }
}

.swiper {
    width: 100%;
    height: auto;
}
.swiper-slide {
    text-align: center;
    color: black;
    font-size: 18px;
    background-color: rgba(37, 37, 37, 0.541);
    height: auto;
    width: 23%;
}
.team-about-other-card{
    margin-top: 60px;
    width: 23%;
    border-radius: 20px;
    padding-bottom: 20px;
}
.team-about-other-card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.team-about-other-profile-ring{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
    padding: 5px;
    background-color: rgb(0, 110, 255);
    margin-bottom: -40px;
}
.team-about-other-card h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
    color: gold;
}
.team-about-other-card h3{
    font-size: 18px;
    font-family:monospace;
    color: blueviolet;
    text-align: center;
    margin-bottom: 5px;
}
.team-about-other-card-underline{
    content: "";
    width: 90%;
    height: 2px;
    background-color: rgb(63, 63, 63);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}
.team-about-heading{
    color:#cc2366;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 3%;
}
