*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
.main-content img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.img-text-about{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.404);
    height: 500px;
}
.img-text-about h1{
    font-size: 55px;
    margin-bottom: 15px;
}
.img-text-about h2{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
}
.img-text-about p{
    font-size: 20px;
}
.img-text-about-content{
    position: relative;
    width: 70%;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}
@media screen and (max-width:845px){
    .img-text-about-content{
        width: 90%;
    }
}
@media screen and (max-width:600px){
    .img-text-about h1{
        font-size: 50px;
    }
    .img-text-about h2{
        font-size: 30px;
    }
    .img-text-about p{
        font-size: 18px;
    }
    .img-text-about-content{
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (max-width:350px){
    .img-text-about h1{
        font-size: 14vw;
    }
    .img-text-about h2{
        font-size: 9vw;
    }
    .img-text-about p{
        font-size: 6vw;
    }
}

/*---Styles for who-we-are section in aboutus page---*/

.who-we-are-about{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    background-image: linear-gradient( 134.6deg,  rgba(201,37,107,1) 15.4%, rgba(116,16,124,1) 74.7% );
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: -4px;
}
.who-we-are-about-content{
    width: 45%;
}
.who-we-are-about-content h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.who-we-are-about-content p{
    font-size: 20px;
    margin-bottom: 12px;
    text-align: justify;
}
.who-we-are-about-img{
    width: 45%;
}
.who-we-are-about-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
}
.who-we-are-fade{
    content: "";
    height: 100%;
    width: 100%;
    position: relative;
    bottom: calc(100% + 4px);
    transition: 0.5s;
    border-radius: 5px;
}
.who-we-are-fade:hover{
    background-color: rgba(0, 0, 0, 0.322);
    transition: 0.5;
}
@media screen and (max-width:1000px){
    .who-we-are-about-content{
        width: 90%;
    }
    .who-we-are-about-content h1{
        text-align: center;
    }
    .who-we-are-about-img{
        width: 90%;
    }
    .who-we-are-about-img{
        height: 50%;
    }
}
@media screen and (max-width:650px){
    .who-we-are-about-content p{
        font-size: 18px;
    }
}

/*---Styles for why-choose-about section in aboutus page---*/

.why-choose-about{
    padding: 3%;
    background-color: rgba(56, 56, 56, 0.616);
}
.why-choose-about-underline{
    content: "";
    width: 30%;
    height: 2px;
    background-color: gold;
    margin-bottom: 25px;
    position: relative;
    left: 25%;
    transform: translateX(-50%);
}
.why-choose-about h1{
    font-size: 40px;
    margin-bottom: 5px;
}
.why-choose-about p{
    font-size: 18px;
    font-weight:300;
    margin-bottom: 15px;
}
.why-choose-about-more{
    color: white;
    font-size: 18px;
    padding: 6px 14px 6px 14px;
    border-radius: 20px;
    border:2px solid white;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}
.view-more-txt-about{
    display: none;
}
.why-choose-about-more:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
@media screen and (max-width:1000px){
    .why-choose-about h1{
        text-align: center;
    }
    .why-choose-about-underline{
        left: 50%;
    }
}
@media screen and (max-width:650px){
    .why-choose-about h1{
        font-size: 25px;
    }
    .why-choose-about p{
        font-size: 18px;
    }
}

/*---Styles for vission-mission-about section---*/

.vision-mission-about{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 3%;
}
.vision-mission-content{
    width: 45%;
}
.vision-mission-img{
    width: 45%;
}
.vision-mission-img img{
    width: 100%;
    object-fit: cover;
}
.vision-mission-about h1{
    font-size: 25px;
    margin-bottom: 15px;
}
.vision-mission-btn-div{
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-120px);
    margin-bottom: 20px;
}
.vision-mission-about-btn1{
    color: white;
    font-size: 18px;
    border: 2px solid red;
    background-color: red;
    border-radius: 8px;
    padding: 8px 25px 8px 25px;
    cursor: pointer;
    width: 120px;
}
.vision-mission-about-btn2{
    color: white;
    font-size: 18px;
    background-color: transparent;
    padding: 8px 25px 8px 25px;
    border: 2px solid white;
    border-radius: 8px;
    width: 120px;
    cursor: pointer;
}
.mission-txt-about{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 5px;
    display: none;
    line-height: 1.3;
}
.vision-txt-about{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 5px;
    line-height: 1.3;
}

/* --this is used for JQuery Part---

.vision-mission-about-btn1-js{
    color: white;
    font-size: 18px;
    border: 2px solid red;
    background-color: red;
    border-radius: 8px;
    padding: 8px 25px 8px 25px;
    cursor: pointer;
    width: 120px;
}
.vision-mission-about-btn2-js{
    color: white;
    font-size: 18px;
    background-color: transparent;
    padding: 8px 25px 8px 25px;
    border: 2px solid white;
    border-radius: 8px;
    width: 120px;
    cursor: pointer;
} */