*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
.main-content img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.img-text-about{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.404);
    height: 500px;
}
.img-text-about h1{
    font-size: 55px;
    margin-bottom: 15px;
}
.img-text-about h2{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
}
.img-text-about p{
    font-size: 20px;
}
.img-text-about-content{
    position: relative;
    width: 70%;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}
@media screen and (max-width:845px){
    .img-text-about-content{
        width: 90%;
    }
}
@media screen and (max-width:600px){
    .img-text-about h1{
        font-size: 50px;
    }
    .img-text-about h2{
        font-size: 30px;
    }
    .img-text-about p{
        font-size: 18px;
    }
    .img-text-about-content{
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (max-width:350px){
    .img-text-about h1{
        font-size: 14vw;
    }
    .img-text-about h2{
        font-size: 9vw;
    }
    .img-text-about p{
        font-size: 6vw;
    }
}

/*---Styles for who-we-are section in aboutus page---*/

.who-we-are-about{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    background-color: brown;
    padding-top: 30px;
    padding-bottom: 30px;
}
.who-we-are-about-content{
    width: 45%;
}
.who-we-are-about-content h1{
    font-size: 40px;
}
.who-we-are-about-img{
    width: 45%;
}
.who-we-are-about-img img{
    width: 100%;
    object-fit: cover;
}