body{
    background: #fc00ff;  
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  
    background: linear-gradient(to right, #00dbde, #fc00ff); 

}
.form-card{
    width: 35%;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    border-radius: 20px;
}
.form-card h1{
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    color: #00dbde;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}
.txt-field{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 8px;
}
.txt-field input{
    padding: 10px 20px 10px 20px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    margin-top: 20px;
    color: rgb(94, 94, 94);

}
.underline{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(59, 59, 59);
}
.txt-field i{
    color: rgb(85, 85, 85);
}
.remember{
    display: inline-flex;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}
.remember input{
    margin: 0;
    margin-right: 10px;
}
.remember p{
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(85, 85, 85);
}
.forgot{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    margin-top: 15px;
}
.forgot a{
    display: block;
    text-align: right;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: rgb(85, 85, 85);
}
.forgot a:hover{
    color: red;
}
.input-btn{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#submit{
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 15px;
}
#submit:hover{
    background-color: #009fa1;
    background-image: linear-gradient(90deg, #00DBDE 0%, #a700aa 100%);
    transition: 0.5s;
}
.or{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid rgb(85, 85, 85);
    padding: 10px;
    border-radius: 50%;
}
.or-hr{
    position: relative;
    transform: translateY(-27px);
    z-index: -1;
}
.signup-social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
    color: rgb(85, 85, 85);
}
.signup-google{
    width: 40px;
    height: 40px;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.signup-google:hover{
    background:#EA4335;
    color: white;
    transition: 0.5s;
    border: 2px solid #EA4335;
}
.signup-facebook{
    width: 40px;
    height: 40px;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.signup-facebook:hover{
    background-color: royalblue;
    color: white;
    transition: 0.5s;
    border: 2px solid royalblue;
}
.signup-twitter{
    width: 40px;
    height: 40px;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.signup-twitter:hover{
    background-color: #1DA1F2;
    color: white;
    transition: 0.5s;
    border: 2px solid #1DA1F2;
}
.signup-social i{
    font-size: 25px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.create-acc{
    text-align: center;
    margin-top: 100px;
}
.create-acc p{
    font-family: sans-serif;
    color: rgb(85, 85, 85);
}
.create-acc a{
    text-decoration: none;
    color: #1DA1F2;
}
.txt-field-flex{
    display: flex;
}
.txt-field-flex i{
    position: relative;
    top: 50%;
}
.form-card input::placeholder{
    font-size: 15px;
}
@media screen and (max-width:750px){
    .form-card{
        width: 50%;
    }
}
@media screen and (max-width:450px){
    .form-card{
        width: 60%;
    }
}
@media screen and (max-width:350px){
    .form-card{
        width: 75%;
    }
}

